<div class="d-flex flex-column">
    
    <%= button_to "Leave",leaves_path, method: :get, class:'box'%>

    
    <%= button_to "Holiday",holidays_path, method: :get, class:'box'%>

    <%= button_to "Employee Management",employeemanagement_path, method: :get, class:'box'%>

    <%= button_to "Designation Management",designations_path, method: :get, class:'box'%>
    <%= button_to "Project Management",projectmanagements_path, method: :get, class:'box'%>
</div>