<div class='employeemaincont'>
<%=render "admin/adminmenu" %>
<div class="empsubcon">
<h1>Designation Management</h1>
<table class="table">
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
<% @designations.each do |designation| %>
    <tr>
     <td>
     <%= designation.last_name%>
     </td>
     <td>
     <%= designation.description%>
     </td>
     <td>
     <%= link_to "Edit", edit_designation_path(designation),class:"btn btn-primary" %>
     </td>
     <td>
     <%= button_to "Delete", designation_path(designation),method: :delete,class:"btn btn-secondary" %>
     </td>
    <% end %>
</table>
<%= button_to 'Add Designation', new_designation_path,method: :get,class:"loginbutton" %>
</div>
</div>