<div class='employeemaincont'>
<%=render "admin/adminmenu" %>
<div class="empsubcon">
<h1>PROJECT MANAGEMENT</h1>
<table class="table">
    <tr>
      <th>Project_Name</th>
      <th>Project_Description</th>
      <th>Edit_project</th>
      <th>Delete_project</th>
    </tr>
<% @projects.each do |project| %>
    <tr>
     <td>
     <%= project.project_name%>
     </td>
     <td>
     <%= project.description%>
     </td>
     <td>
     <%= link_to "Edit", edit_project_path(project),class:"btn btn-primary" %>
     </td>
     <td>
     <%= button_to "Delete", project_path(project),method: :delete,class:"btn btn-secondary" %>
     </td>
     </tr>
<% end %>
</table>
<%= button_to 'Add Project', new_projectmanagement_path,method: :get,class:"loginbutton" %>
</div>
</div>
